* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.row {
  width: 100%;
}

.menu-title {
  text-align: center;
  margin-bottom: 30px;
}

.container {
  position: relative;
  top: 60px;
  margin: 15px;
}

.item {
  position: relative;
  top: 0;
  background-color: #beafaf;
  margin: 15px;
  padding: 25px;
  border: 1px solid #000;
}

.item p {
  margin-top: 18px;
  text-align: justify;
  font-size: 100%;
}

.item-title {
  position: absolute;
  top: 0;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  right: 0px;
  background: green;
  padding: 6px 90px;
}

#title-chicken {
  background-color: #b07272;
}

#title-beef {
  background-color: #d14d4b;
}

#title-sushi {
  background-color: #cba847;
}


@media (min-width: 992px) {
  .col {
    float: left;
    width: 33.33%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .col {
    width: 50%;
    float: left;
  }

  .col-tablet {
    width: 100%;
    float: left;
  }
}


@media (max-width: 767px) {
  .col {
    width: 100%;
    float: left;
  }
}